@model IFURETE4.Models.User

@{
    ViewData["Title"] = "Törlés";
}

<h2>Törlés</h2>

<h3>Biztos szeretné törölni ezt a felhasználót?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
             Név:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            Felhasználónév:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt>
            Telefonszám:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>
        <dt>
            E-mail cím:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>
        <dt>
            Regisztráció megerősítve
        </dt>
        <dd>
            @Html.DisplayFor(model => model.is_confirmed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Törlés" class="btn btn-default" /> |
        <a asp-action="Index">Vissza a felhasználókhoz</a>
    </form>
</div>
