@model IFURETE4.Models.User

@{
    ViewData["Title"] = "Részletek";
}

<h2>Részletek</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Név:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            Jelszó:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt>
            Felhasználónév:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt>
            Telefonszám:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>
        <dt>
            E-mail cím:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>
        <dt>
            Megerősítve:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.is_confirmed)
        </dd>
        <dt>
            Bejelentkezve:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.is_logged_in)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Szerkeszt</a> |
    <a asp-action="Index">Vissza a felhasználókhoz</a>
</div>
