@model IEnumerable<IFURETE4.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>



@{
    ViewData["Title"] = "Időpontfoglalás";
}
<h2>@ViewData["Title"]</h2>
<br />
<form method="post" action="/Bookings/Report" id="DateForm">
    <input name="myDate" type="date" id="Date" />
</form>

<script>
    document.getElementById("Date").addEventListener("change", function () {
        document.getElementById("DateForm").submit();
    });
</script>





@ViewData["ClickedAppointment"]

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.time_start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.time_end)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.number_of_trucks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.amount)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time_start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time_end)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.number_of_trucks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
