@model IFURETE4.Models.Site

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Site</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameOfContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameOfContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddressOfContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddressOfContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhonenumberOfContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhonenumberOfContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpenFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpenTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTrucks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfTrucks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
